 /* CSS for mobiles */


@media only screen and (max-width: 576px) {
    .goatbutton{
        padding: 7px 26px;
        font-size: 10px;
    }
    .nav{
        flex-direction: column;
        justify-content: center;
        gap: 50px;
     }
     .navRight{
         width: 100%;
         margin: auto;
         justify-content: center;
     }
     .navLeft{
         width: 100%;
         margin: auto;
     }
     .navLeft ul{
        flex-direction: column;
     }
     /* hader saction end  */
/* main saction start  */
/* goat saction start  */
.goat-contenar{
    flex-direction: column-reverse;
    
}
.goatRight{
    width: 100%;
    margin: auto;
}
.goatRight img{
    width: 100%;
}
.gotLeft{
    background-image: url('../images/Group 14.png');
    
    background-repeat: no-repeat;
}
.gotLeft{
    width: 80%;
    margin: auto;
}
.goat{
    background-image: none;
}
.play{
    font-size: 16px;
}
.goadH{
    font-size: 40px;
}
.gcc{
    font-size: 10px;
    margin-top: 5px;
}
.ggggg{
    padding-top: 50px;
    padding-bottom: 50px;
}



/* goat sactioon end  */
/* gamer saction start  */
.gamerAll{
    flex-direction: column;
}
.gamerLeft{
    width: 100%;
}
.gamerLeft img{

}
.gamerright{
    width: 70%;
    text-align: center;
}
.gamer{
    background: #fff9fc;
}
.gamerH{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}
.gamerP{
    font-size: 15px;
    margin-bottom: 10px;
    
}
.gamerpt{
    font-size: 20px;
    margin-bottom: 30px;

}

/* gamer saction end  */
/* main saction end  */




  }