*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.CC{
    color:#F948B2;
}
.goatbutton{
    display: inline-flex;
    padding: 21px 40px;
    border-radius: 50px;
    color: #FFF;
    border: 0;
    background: #ff42a5;
    color: #FFF;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
/* hader saction style start  */
.nav{
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    margin: 25px auto;
    align-items: center;
}
.navhading{
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}
.navRight{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 40%;
}
.navRight img{
    width: 86.041px;
    height: 40px;
}
.navLeft ul{
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
    justify-content: end;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.navLeft a{
    text-decoration: none;
}
.navLeft{
    width: 60%;
}
.follall{
    display: flex;
    gap: 30px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
}
.follall span{
    margin-right: 20px;
}
.youtube{
    color: red;
}
/* hader saction end  */
/* main saction start  */
/* goat saction start  */
.gotLeft{
    
    background-size: 100%;
    width: 50%;
}
.goat{
    background:#fcfcfc ;
    min-height: 40px;
    background-image: url('../images/Group 14.png');
    
    background-repeat: no-repeat;
}
.goat-contenar{
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    
}
.goatRight{
    width: 50%;
    margin-left: 200px;
}
.goatRight img{
    width: 100%;
}
.gotLeft{
    display: flex;
    justify-content: center;
    align-items: center;
}
.play{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.goadH{
    background-image: linear-gradient(to bottom,#dc4cc2,#a654e0);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 95px;
    font-weight: 800;
}
.gcc{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-top: 10px;
}
.gbb{
    background:#4ec5f7 ;
}
.ggggg button{
    margin-top: 20px;
    margin-left: 20px;
}


/* goat sactioon end  */

/* gamer saction start  */
.gamerAll{
    display: flex;
    max-width: 1440px;
    align-items: center;
    margin: auto;
}
.gamerLeft{
    width: 60%;
}
.gamerLeft img{
    width: 100%;

}
.gamerright{
    width: 40%;
    text-align: right;
}
.gamer{
    background: #fff9fc;
}
.gamerH{
    background-image: linear-gradient(to bottom,#dc4cc2,#a654e0);
    color: transparent;
    -webkit-background-clip: text;
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}
.gamerP{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    
}
.gamerpt{
    color: #534C64;
    font-size: 24px;
    font-weight: 500;  
    margin-bottom: 10px;

}
/* gamer saction end  */
/* video saction start  */
.videos{
    max-width: 1440px;
    margin: auto;
}
.top{
    text-align: center; 
}
.videosh{
    color: #0B0223;
    font-size: 40px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 10px;
}
.vgg{
    background-image: linear-gradient(to bottom,#dc4cc2,#a654e0);
    color: transparent;
    -webkit-background-clip: text;
}
.videosp{
    color: #534C64;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
}
.vbottom{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    gap: 10px;
}
.mvideo img{
    width: 100%;
}
.videop{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */ 
}
/* video saction end  */

/* instantly saction start  */
.instantly{
    display: flex;
    max-width: 1440px;
    margin: auto;
}
.insRight{
    width: 50%;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.insH{
    font-size: 48px;
    font-weight: 700;
}
.insP{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}
.insLeft{
    width: 50%;
    margin-top: 20px;
}
.insimg2 img{
    width: 30%;
    padding: 0;
    border: 5px solid #FFF;
    margin: 0;
    position: absolute;
    top:75%;
    left: -5%;

}
.insimg{
    width: 100%;
}
.insggr{
    width: 60%;
}
.insimg1 img{
    width: 100%;
    text-align: center;
}
.insallall{
    position: relative;
    display: flex;
    justify-content: end;
    width: 100%;
    margin: auto;
    margin-top: 20px;
}
/* instantly saction end  */
/* play gamer saction sthart */
.playGame{
    display: flex;
    max-width: 1440px;
    margin: auto;
    margin-top: 150px;
}
.pG{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.playGame{
    margin-bottom: 150px;
}
.pGright{
    width: 60%;
    position: relative;
}
.pGCo{
    width: 75%;
}
.pGimg1 img{
    width: 100%;
}
.pGimg2 img{
    width: 30%;
    padding: 0;
    border: 5px solid #FFF;
    margin: 0;
    position: absolute;
    top:75%;
    right:5%;
}
.pGc{
    width: 80%;
}

/* play gamer saction end */
/* carear saction start  */
.career{
    display: flex;
    background: #ff41a5;
    justify-content: center;
    align-items: center;
}
.carRight{
    width: 50%;
}
.carleft{
    width: 50%;
}

/* carear saction end   */
.flixcon{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #FFF;
    border-radius: 30px;
    padding: 5px;
}
.fliswrap{
    background:#fff9fc ;
    padding: 100px 00px;
    
}
.allflix{
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 10px;
}
.flixp{
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}

/* main saction end  */
