 /* CSS for tablets */




@media only screen and (min-width: 576px) and (max-width: 940px) {
    .nav{
       flex-direction: column;
       justify-content: center;
       gap: 50px;
    }
    .navRight{
        width: 100%;
        margin: auto;
        justify-content: center;
    }
    .navLeft{
        width: 100%;
        margin: auto;
    }
    .navLeft ul{
        justify-content: center;
    }
    /* hader saction end  */
/* main saction start  */
/* goat saction start  */
.goat-contenar{
    flex-direction: column-reverse;
    
}
.goatRight{
    width: 100%;
    margin: auto;
}
.goatRight img{
    width: 100%;
}
.gotLeft{
    background-image: url('../images/Group 14.png');
    
    background-repeat: no-repeat;
}
.gotLeft{
    width: 100%;
}
.goat{
    background-image: none;
}
.ggggg{
    padding-top: 100px;
    padding-bottom: 100px;
}


/* goat sactioon end  */
/* gamer saction start  */
.gamerAll{
   flex-direction: column;
}
.gamerLeft{
    width: 80%;
}
.gamerLeft img{

}
.gamerright{
    width: 80%;
    text-align: center;
}

.gamerH{
    text-align: center;
    
}


/* gamer saction end  */
/* video saction start  */

.vbottom{
    grid-template-columns: repeat(2,1fr);
    margin: 1px 5px;
}
.videop{
    font-size: 20px;
}
/* video saction end  */
/* main saction end  */




  }